.backdrop {
    position: fixed;
    background-color: rgb(165 165 165 / 65%);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
}

.modal-layout {
    top: 5%;
    padding: 7px;
    position: relative;
    max-width: 500px;
    min-width: 270px;
    height: max-content;
    max-height: 90vh;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}
