footer {
    padding: 10px;
    a,
    li {
        text-decoration: none;
        color: #626262;
        font-size: 18px;
        padding: 5px 0;
        &:hover {
            text-decoration: none;
            color: #626262;
        }
    }
    .social-links {
        max-width: 140px;
        min-width: 124px;
        justify-content: space-between;
        color: #5b5b5b;
    }
    p {
        font-size: 23px;
        font-weight: bold;
        color: #333;
    }
    li {
        overflow-x: hidden;
    }
}
